.container {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.header {
  margin-left: 36px;
}
.return-categos-button {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: 36px;
}

.number {
  margin-bottom: 5px;
}
.medicine-name {
  text-align: center;
  font-weight: 500;
}

.price {
  font-size: 18px;
}
.quantity {
  font-size: 18px;
}
